@use "../../../common/css";
@use "themes";
@use "fonts" as *;

:root{
  @include fonts;
}

body {
  background-color: var(--color-bg);
}

.hero-container {
  .cover-img {
    max-width: 940px;
    max-height: 400px;

    &> img {
      width: 100%;
      height: 100%;
    }
  }
}

.feedback-container{
  background-color: var(--color-primary-light);
  .feedback-buttons{
    .feedback-button{
      background-color: var(--color-primary);
      color: var(--color-accent);
      &:hover {  
        color: var(--color-border-light);
      }
    }
  }
}

.dark .feedback-container .feedback-buttons .feedback-button{
  color: var(--color-border-light);
  &:hover {  
    color: var(--color-accent);
  }

} 
