@use "../../utils/css/_vars.scss" as *;

.guides-header {
    border-bottom: 1px solid var(--color-border-light);
}

.fsi-header-wrapper {
    max-width: 88%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0px 42px 0px;
    background: var(--color-bg);
    @media screen and (max-width: $screen-md) {
        max-width: 100%;
    }
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-right: 40px;
    cursor: pointer;

    img {
        width: 33.56px;
        height: 36.45px;
    }

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: var(--color-primary);
        // color: #170F49;
    }
}

.navigation-menus {
    flex-grow: 1;
    // display: flex;
    // justify-content: center;

    .nav-items ul {
        list-style: none;
        display: flex;
        gap: 32px;
        margin: 0;
        padding: 0;

        li {
            margin-left: 0px;
            margin-bottom: unset;
        
            a {
                text-decoration: none;
                color: var(--color-primary);
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

                &:hover {
                    color: var(--color-on-primary);
                    transform: translateY(-2px);
                }
            }
        }
    }
}

.navigation-right-menus {
    display: flex;
    align-items: center;
    gap: 18.65px;

    .fa-magnifying-glass {
        width: 16px;
        height: 16px;
        cursor: pointer;
        color: var(--color-primary);
    }
    .theme-btn {
        width: 16px;
        height: 16px;
        cursor: pointer;
        color: var(--color-primary); 
        background: transparent;
        outline: none;
        border: none;
        transition: all 0.5s ease-out;

        &::before {
            font-family: "Fontawesome";
        }
    
        &:active {
            font-size: 60%;
        }
    }

    .language-selector {
        select {
            border: none;
            color: var(--color-primary);
            background: transparent;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;

            option {
                color: black;
            }
        }
    }
}

.login_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;

    .login-btn {
        background: var(--color-primary);
        color: var(--color-bg);
        border: none;
        padding: 10px 24px;
        border-radius: 76px;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;

        &:hover {
            background: #024e33;
        }
    }
    .hamburger_icon {
        display: none;
        color: var(--color-primary);
    }
}

@media screen and (max-width: 768px) {
    .mob-navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header-logo header-logo login_wrapper login_wrapper"
            "navigation-right-menus navigation-right-menus navigation-right-menus navigation-right-menus"
            "navigation-menus navigation-menus navigation-menus navigation-menus";
            
        .header-logo { 
            grid-area: header-logo; 
        }
            
        .login_wrapper { 
            grid-area: login_wrapper; 
        }
            
        .navigation-right-menus { 
            display: flex;
            grid-area: navigation-right-menus; 
        }
            
        .navigation-menus { 
            display: flex;
            grid-area: navigation-menus; 
        }
    }

    .login_wrapper {
        justify-content: end;
        .hamburger_icon {
            display: block;
        }
    }

    .navigation-menus {
        display: none;
        margin-top: 30px;
    }

    .navigation-right-menus {
        display: none;
        margin-top: 30px;
    }

    .fsi-header-wrapper {
        padding: 22px 24px;
    }

    .navigation-menus {
        .nav-items ul {
            flex-direction: column;
            gap: 16px;
        }
    }
}
