@mixin light-theme {
  --color-accent: #01EA57;
  --color-primary: #0C1256;
  --color-primary-white: #FFFFFF;
  --color-secondry-white: #F2F2F2;
  --color-natural-blue: #87A3FB;
  --color-secondary: #E8F1FF;
  --color-tertiary: #2C343B;
  --color-neutral: #D8D8D8;
  --color-link: #0F85EC;
  --color-gray: #AEAEAE;
  --color-gray-dark : #5F5F60;
  --color-secondary-blue: #76A2EB;
  --color-bg : #FFFFFF;
// codeblock 
    --color-neutral-light: #EEEEEE;
    --color-neutral-dark: #ddd;
    .theme-btn {
      &::before {
        content: "\f185";
      }
    }
}

@mixin dark-theme {

  .theme-btn {
    &::before {
      content: "\f186";
    }
  }
}

.light {
  @include light-theme();
  .theme-btn {
    &::before {
      content: "\f185" !important;
    }
  }
}

.dark {
  @include dark-theme();
  .theme-btn {
    &::before {
      content: "\f186" !important;
    }
  }
}

// OS Default.
:root:not(.light):not(.dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}
