.left-container {
    &>.cmp-container {
        font-size: var(--text-sm);
        line-height: var(--text-sm-lh);
        color: var(--color-primary);
        font-family: var(--font-fam-primary);
    }
}

.cmp-guidesnavigation__group {
    ul {
        margin-top: 0px;
    }

    li {
        margin-left: unset;
        margin-bottom: 16px;
    }

    .cmp-guidesnavigation__item-level {

        &-1,
        &-2,
        &-3,
        &-4,
        &-5 {
            padding-left: var(--toc-indent);
            font-size: var(--text-xs);
            line-height: var(--text-xs-lh);
        }
    }

    .cmp-guidesnavigation__item-level-0 {
        font-size: var(--text-xs);
        line-height: var(--text-xs-lh);
        font-weight: 700;
        letter-spacing: 1px;
        color: var(--color-primary);
        margin: 30px 0 8px 0;
        text-transform: uppercase;
        // border-left: 0.5px solid var(--color-gray);
        position: relative;

        .toc-list-item {
            a {
                text-decoration: none;
            }
        }
        
    }

    .cmp-nav-item-selected>.toc-list-item {
        font-weight: 700;
    }

    // .cmp-guidesnavigation__item-has-children {
    //     li:not(.cmp-guidesnavigation__item-has-children):not(.cmp-nav-item-selected) a::before {
    //         display: inline-block;
    //         content: "";
    //         width: 10px;
    //         height: 10px;
    //         background-color: var(--color-primary-faded);
    //         border-radius: 50%;
    //         margin-right: 10px;
    //     }

    //     .cmp-guidesnavigation__group.show-children li.cmp-nav-item-selected .toc-list-item a::before {
    //         display: inline-block;
    //         content: "";
    //         width: 10px;
    //         height: 10px;
    //         background-color: var(--color-on-primary);
    //         border-radius: 50%;
    //         margin-right: 10px;
    //     }

    //     .cmp-guidesnavigation__group.show-children li.cmp-guidesnavigation__item-has-children>.toc-list-item a::before {
    //         display: none;
    //     }
    // }
    .cmp-guidesnavigation__item-level-1{
        border-left: 0.5px solid var(--color-gray);
        position: relative;
        &.cmp-nav-item-selected.cmp-guidesnavigation__item--active::before {
            position: absolute;
            content: "";
            left: -1.2px;
            // top: 0;
            // bottom: 0;
            width: 2px;
            background-color: var(--color-primary);
            height: 14px;
        }
    }
    .cmp-guidesnavigation__item-level-2{
        position: relative;
        &.cmp-nav-item-selected.cmp-guidesnavigation__item--active::before {
            position: absolute;
            content: "";
            left: -25.2px;
            // top: 0;
            // bottom: 0;
            width: 2px;
            background-color: var(--color-primary);
            height: 14px;
        }
    }

    .cmp-guidesnavigation__item-level-1,
    .cmp-guidesnavigation__item-level-2 {
        font-size: var(--text-xs);
        line-height: var(--text-xs-lh);
        font-weight: 400;
        color: var(--color-gray-dark);
        margin: 0;
        padding-bottom: 8px;
        // padding-top: 8px;
        // border-left: 0.5px solid var(--color-gray);
        padding-left: 8px;
        margin-left: var(--toc-level-2-gap);
    }

    // .cmp-nav-item-selected.cmp-guidesnavigation__item--active{
    //     border-left: 0.5px solid var(--color-primary);
    // }
    .cmp-nav-item-selected.cmp-guidesnavigation__item--active::before {
        position: absolute;
        content: "";
        left: -16px;
        // top: 0;
        // bottom: 0;
        width: 2px;
        background-color: var(--color-primary);
        height: 14px;
    }

    .cmp-nav-item-selected.cmp-guidesnavigation__item--active span {
        color: var(--color-primary);
        font-weight: 500;
        letter-spacing: normal;
    }
    &.show-children{
        padding-top: 8px;
    }
}