@use "../../../utils/css/palette-generator" as *;

@mixin light-theme {
  --color-accent: #821616;
  --color-primary: #001E3A;
  --color-primary-70: #001e3ab3;
  --color-neutral: #D8D8D8;
  --color-bg: #FFFFFF;
  --color-border-light: #D8D8D8;
  --color-on-accent: #FFFFFF;
  --color-border-light: #D8D8D8;
  --color-light-grey: #2C343B;

  --color-bg2: #0D0D0D;
  
  .theme-btn {
    &::before {
      content: "\f185";
      content: url("/content/dam/aemguidesDALP/fsi/images/moon (7).png");
    }
  }
}

@mixin dark-theme {
  .theme-btn {
    &::before {
      content: "\f186";
    }
  }
}

.light {
  @include light-theme();

  .theme-btn {
    &::before {
      content: "\f185";
      content: url("/content/dam/aemguidesDALP/fsi/images/moon (7).png");
    }
  }
}

.dark {
  // @include dark-theme();
  @include light-theme();

  .theme-btn {
    &::before {
      content: "\f186" !important;
    }
  }
}

// OS Default.
// :root:not(.light):not(.dark) {
//   @media (prefers-color-scheme: light) {
//     @include light-theme;
//   }

//   @media (prefers-color-scheme: dark) {
//     @include dark-theme;
//   }
// }
