@use "../../../common/css/common.scss";
@use "themes";

body {
  background-color: var(--color-bg);
}

.hero-container {
  .cover-img {
    max-width: 940px;
    max-height: 400px;

    &> img {
      width: 100%;
      height: 100%;
    }
  }
}