@use "../../../common/css";
@use "themes";
@use "fonts" as *;

:root{
  @include fonts;
}


body {
  background-color: var(--color-bg);
  font-family: var(--font-fam-secondary);
}

.hero-container {
  .cover-img {
    max-width: 940px;
    max-height: 400px;

    &> img {
      width: 100%;
      height: 100%;
    }
  }
}

.guides-header {
  border-bottom: unset;
  background: var(--color-bg2);
}

.fsi-header-wrapper {
  background: var(--color-bg2);
  padding-block: 20px;
}

.header-logo {
  p {
      color: var(--color-bg);
  }
}

.navigation-menus {
  color: var(--color-primary);
  .nav-items ul {
      li {
          a {
              color: var(--color-bg);
          }
      }
  }
}

.navigation-right-menus {
  .fa-magnifying-glass {
      color: var(--color-bg);
  }
  .theme-btn {
      color: var(--color-bg); 
  }

  .language-selector {
      select {
          color: var(--color-bg);

          option {
              color: black;
          }
      }
  }
}

.login_wrapper {
  .login-btn {
      background: var(--color-bg);
      color: var(--color-bg2);
      &:hover {
          background: var(--color-accent);
          color: var(--color-bg);
      }
  }
  .hamburger_icon {
      color: var(--color-bg);
  }
}

.guides-footer {
  background-color: var(--color-bg2);
}

.footer {
  background-color: var(--color-bg2);
}

.footer_wrapper {
  .footer_logo-container {
      .footer_logo {
        color: var(--color-bg);
      }

      .footer_text {
        color: var(--color-bg);
        font-family: var(--font-fam-secondary);
      }
  }

  .footer_links-container {
      .grid_item {
          .footer_links-title {
              color: var(--color-bg);
              font-family: var(--font-fam-secondary);

          }
          .footer_links-list {
              a {
                  .footer_links-listlink {
                    color: var(--color-bg);
                    font-family: var(--font-fam-secondary);
                  }
              }
          }
      }
  }
}

.footer_social-wrapper {
  .footer_social {
    color: var(--color-bg);
      i {
        color: var(--color-bg);
      }
  }
}

.footer_copywrite-wrapper {
  border-top: 1px solid var(--color-border-light);
  .footer_copywrite {
    color: var(--color-bg);
    font-family: var(--font-fam-secondary);
  }

  .footer_privacy-wrapper {
      .footer_privacy {
        color: var(--color-bg);
        font-family: var(--font-fam-secondary);
      }
  
      .footer_termcond {
        color: var(--color-bg);
        font-family: var(--font-fam-secondary);
      }
  }
}

.new {
  height: unset;
  margin: unset;
}