
@use "../../utils/css/vars" as *;
@use "../../automotive/global/css/themes" as *;

$primary-bg: #e6f4f1;
$primary-text: #1a3b3a;
$secondary-text: #4a6564;
$button-bg: #093d2b;
$button-hover: #0b4e39;
$icon-color: #f4a261;

.feedback-container {
    background-color: $primary-bg;
    padding: 15px 8px;
    margin-top: 40px;
    // width: 300px;
    text-align: center;

    .feedback-question {

        font-size: var(--text-sm);
        line-height: var(--text-sm-lh);
        font-family: var();
        font-weight: 400;
        color: var();
    }

    .feedback-text {
        font-size: 14px;
        color: $secondary-text;
        margin-bottom: 15px;
    }

    .feedback-buttons {
        display: flex;
        // justify-content: center;
        gap: 8px;

        .feedback-button {
            background-color: $button-bg;
            color: $icon-color;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 20px;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $button-hover;
            }
        }
    }
}
