<footer>
   <div class="footer">
        <div class="footer_wrapper">
            <div class="footer_logo-container">
                <div>
                    <a href="" class="footer_logo"><img src="../../../images/footer-logo.png"></a>
                </div>
                <div>
                    <p class="footer_text">Welcome to Logo Name, where brilliance meets innovation!  We are a leading company dedicated to 
                    delivering exceptional products and services to cater to your needs.</p>
                </div>
            </div>
            <div class="footer_links-container">
                <div class="grid_item">
                    <p class="footer_links-title">Company</p>
                    <ul class="footer_links-list">
                        <li class="footer_links-listlink">Overview</li>
                        <li class="footer_links-listlink">Careers</li>
                        <li class="footer_links-listlink">Investors</li>
                        <li class="footer_links-listlink">Media Site</li>
                    </ul>
                </div>
                <div class="grid_item">
                    <p class="footer_links-title">Experience</p>
                    <ul class="footer_links-list">
                        <li class="footer_links-listlink">Build & Price</li>
                        <li class="footer_links-listlink">Search Inventory</li>
                        <li class="footer_links-listlink">Get a Quote</li>
                        <li class="footer_links-listlink">Trade-In Value</li>
                        <li class="footer_links-listlink">Towing Guides</li>
                        <li class="footer_links-listlink">Get Updates</li>
                        <li class="footer_links-listlink">Certified Used</li>
                        <li class="footer_links-listlink">Inventory</li>
                        <li class="footer_links-listlink">Accessibility Program</li>
                    </ul>
                </div>
                <div class="grid_item">
                    <p class="footer_links-title">Accessibility Program</p>
                    <ul class="footer_links-list">
                        <li class="footer_links-listlink">All Vehicles</li>
                        <li class="footer_links-listlink">SUVs &Crossovers</li>
                        <li class="footer_links-listlink">Trucks & Vans</li>
                        <li class="footer_links-listlink">Cars</li>
                        <li class="footer_links-listlink">Electrified</li>
                        <li class="footer_links-listlink">Commercial Vehicles</li>
                        <li class="footer_links-listlink">Future Vehicles</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_social-wrapper">
            <a href="" class="footer_social"><img src="../../../images/whatsapp.png"></a>
            <a href="" class="footer_social"><img src="../../../images/facebook.png"></a>
            <a href="" class="footer_social"><img src="../../../images/twitter.png"></a>
            <a href="" class="footer_social"><img src="../../../images/instagram.png"></a>
            <a href="" class="footer_social"><img src="../../../images/linkedin.png"></a>
        </div>
        <div class="footer_copywrite-wrapper">
            <p class="footer_copywrite">© 2025. Logo India Pvt. Ltd. All Rights Reserved (provider)</p>
            <div class="footer_privacy-wrapper">
                <p class="footer_privacy">Privacy</p>
                <p class="footer_termcond">Terms & Conditions</p>
            </div>
        </div>
    </div>
</footer>