@use "../../../utils/css/vars" as *;

.fsi-banner-wrapper {
 

  > .cmp-container {
    height: 491px;

    @media screen and (max-width: $screen-md){
      height: 239px;
      background-size: 100% 100%!important;
    }

    h1.cmp-title__text {
      font-size: 48px;
      line-height: 62px;
      font-weight: 400;
      font-family: "Manrope";
      color: var(--color-primary);
      width: 292px;
      margin-bottom: 8px;

      @media screen and (max-width: $screen-md) {
        font-size: 30px;
        line-height: 40px;
        width: 250px;
      }
    }

    .cmp-text {
      p {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        font-family: "Manrope";
        color: var(--color-primary);

        @media screen and (max-width: $screen-md) {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }

    .title {
      padding-top: 107px;
      padding-left: 88px;
      @media screen and (max-width: $screen-md) {
        padding-left: 24px;
        padding-top: 42px;
      }
    }

    .text {
      font-family: Manrope;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0px;
      color: var(--color-primary);
      padding-left: 88px;

      @media screen and (max-width: $screen-md) {
        padding-left: 24px;
        
      }
    }
  }
}

.box-container {
  @media screen and (max-width: $screen-md) {
    padding-inline: unset !important;
  }
}

.objectives-text-wrapper {
  padding: 48px 0px 48px 0px;

  @media screen and (max-width: $screen-md) {
    padding: 46px 24px 46px 24px;
  }
  > .cmp-container {
    display: flex;
    gap: 140px;

    @media screen and (max-width: $screen-md) {
      flex-direction: column;
      gap: 40px;
    }

    .objective-text-left {
      width: 50%;
      @media screen and (max-width: $screen-md) {
        width: 100%;
      }

      .cmp-text {
        p {
          font-size: 24px;
          line-height: 32px;
          font-weight: 400;
          font-family: "Manrope";
          color: var(--color-primary);
          & > a {
            font-family: Manrope;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0%;
            text-decoration: underline;

            @media screen and (max-width: $screen-md) {
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
      }
    }
    .objective-text-right {
      width: 50%;

      @media screen and (max-width: $screen-md) {
        width: 100%;
      }

      .cmp-text {
        h3 {
          font-size: 20px;
          line-height: 28px;
          font-weight: 700;
          font-family: "Manrope";
          color: var(--color-primary);
          margin-bottom: 24px;

          @media screen and (max-width: $screen-md) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 12px;
          }
        }

        ul {
          li {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            font-family: "Manrope";
            color: var(--color-primary);
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
