.note.danger {
    --color-danger-light: #fff0f0;
    --color-danger-dark: #ffd7d6;
    background-color: var(--color-danger-light);
    border-bottom: 1px solid var(--color-danger-dark);
    border-top: 1px solid var(--color-danger-dark);
  }
  .note.tip {
    --color-tip-light: #EEEEEE;
    --color-tip-dark: #ddd;
    background-color: var(--color-tip-light);
    border-bottom: 1px solid var(--color-tip-dark);
    border-top: 1px solid var(--color-tip-dark);
  }
  .note.caution {
    --color-caution-light: #fff9e5;
    --color-caution-dark: #f5c823;
    background-color: var(--color-caution-light);
    border-bottom: 1px solid var(--color-caution-dark);
    border-top: 1px solid var(--color-caution-dark);
  }
  .note.restriction {
    --color-restriction-light: #EEEEEE;
    --color-restriction-dark: #ddd;
    background-color: var(--color-restriction-light);
    border-bottom: 1px solid var(--color-restriction-dark);
    border-top: 1px solid var(--color-restriction-dark);
  }
  .note.warning {
    --color-warning-light: #ffeddf;
    --color-warning-dark: #ffb47b;
  }
  .note.notice {
    --color-notice-light: #f6f9fc;
    --color-notice-dark: #e4edf6;
  }
  .note.tip:not(.hazardstatement)::after {
    background-image: url('tip.png');
  }
  .note.caution ::before {
    color: black;
    background-color: navajowhite;
  }
  .note.caution:not(.hazardstatement)::after {
    background-image: url('caution.png');
  }
  .note.danger ::before {
    color: white;
    background-color: red;
  }
  .note.danger:not(.hazardstatement)::after {
    background-image: url('danger.png');
  }
  .note.restriction:not(.hazardstatement)::after {
    background-image: url('restriction.png');
  }
  .prefix-content {
    font-weight: bold;
  }
  .note {
    padding: 12px;
    font-size: 9px;
    line-height: 12px;
    font-weight: 400;
    color: var(--color-primary);
    border-left: 0px;
    position: relative;
    padding-left: 50px;
    margin-top: auto;
    margin-bottom: 1em;
    font-style: italic;
  }
  .note:not(.hazardstatement)::before {
    content: "";
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .note::after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('../../../aemguidesDALP/hi-tech/images/note-lines.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  /* hazardstatement */
  .hazardstatement .prefix-content {
    background-position: 0 0;
    display: inline-block;
    padding-left: unset;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 14px;
  }
  .hazardstatement.note {
    padding: 18px 24px;
    margin-bottom: 1em;
    margin-top: 1rem;
    font-size: var(--text-sm);
    border-left-width: 4px;
    border-left-style: solid;
    border-top: unset;
    border-bottom: unset;
    break-inside: avoid;
  }
  .hazardstatement.note.danger {
    border-left-color: var(--color-danger-dark);
    background-color: var(--color-danger-light);
  }
  .hazardstatement.note.warning {
    border-left-color: var(--color-warning-dark);
    background-color: var(--color-warning-light);
  }
  .hazardstatement.note.caution {
    border-left-color: var(--color-caution-dark);
    background-color: var(--color-caution-light);
  }
  .hazardstatement.note.notice {
    border-left-color: var(--color-notice-dark);
    background-color: var(--color-notice-light);
  }