.related-links {

  .prefix-content {
    color: var(--color-primary);
  }

  .link {
    display: block;
    font-weight: 400;
    font-size: var(--text-sm);
    line-height: var(--text-sm-lh);
    text-decoration: auto;
    color: var(--color-primary);
    margin-top: 8px;
    text-decoration: underline;

    &:hover{
      color: var(--color-accent);
    }
  }

  .linkinfo {
    margin-block: 10px;
    color: var(--color-primary);
    font-size: var(--text-sm);
    line-height: var(--text-sm-lh); 
  }
}
